/**
 * This is the central home page
 *
 */
section#home {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    padding: 100px 20px 0;
    background-image: url('/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    div.content {
        max-width: $siteWidth;
        height: 100%;
        overflow: auto;
        margin: 0 auto;
        color: #FFF;
        h2.filter{
            padding-bottom: 1rem;
        }
        div.cards{
            width: 100%;
            display: grid;
            flex: none;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            grid-auto-rows: minmax(100px, auto);
            div.card {
                background-color: rgba(4, 10, 43, 0.50);
                padding: 1rem;
                display: flex;
                flex: 1 0;
                gap: 1rem;
                img{
                    max-width: 150px;
                    max-height: 150px;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }

        }

    }
}
